/*	
	수정 일자 : 2020.06.16 20:00
*/
@charset "UTF-8";

        #pan1{
            position:absolute;  
            margin-top: -10%;         
            margin-left: 43%;
            font-size: 40px;
            color: white;
        }
        #pan2{
            font-size: 20px;
            text-align: center;
        }

        /* 시계 부분 */
        #mo{
        text-align: center;
        font-size: 100px;
        margin: -10px;
        font-family:'Times New Roman', Times, serif;
        color: lightcoral;
        }

        .vedio{
        white-space: normal;
        padding: 0;
        margin-left: 0;
        }

        #arrows{
        top: 92%;
        left: 95%;
        width: 10;
        height: 10;
        position: fixed;
        }
        
        .pen{
        	font-family:'Times New Roman', Times, serif;
        	font-size: 20px;
        }
        
        #btnVideo{
        	font-family:'Times New Roman', Times, serif;
        	font-size: 40px;
        	color:black;
            background-color: white;
            border: 0px;
        }
